// Import page-specific CSS files here.
@import "home";
@import "dashboard";

// ul {
//   margin: 50px;
// }

li {
  list-style-type: none;

}

.ul-padding-ten {
  padding: 10px;
}

#accept{
  color: #198754;
}

#decline {
  color: #DC3545;
}

#pending {
  color: #D7AC57
}
