.navbar-lewagon {
  justify-content: space-between;
  background: #F5C6AA;
  height: 80px;
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-lewagon .navbar-nav a {
  color: #835858;
}
