.option-list {
  width: 500px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.option-button {
  color: white !important;
  background-color: #6F594D;
}

.option-button:hover {
  background-color: #D0A890;
}
