<div class="container">
  <div class="cards">
    <% @cars.each do |car| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Car: <%= car.car_model %></h2>
        <p>Color: <%= car.color %></p>
        <p><%= link_to "Details", car_path(car)%></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
